.character {
  /* Fill the available container height */
  height: 100%;
  min-height: 500px;
  position: fixed;
  top: 128px;
  left: 60%;
}

@media (max-width: 600px) {
  .character {
    height: 500px;
    top: 64px;
    left: 32px;
  }
}
