* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

p {
  font-size: 1rem;
}

header {
  padding-top: 96px;
  padding-bottom: 32px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.max-width-wrapper {
  padding: 0 32px;
}

.title {
  font-size: 2rem;
  margin-bottom: 32px;
}

.intro-chunk {
  max-width: 256px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  padding-top: 64px;
  background-color: hsl(0deg, 0%, 60%);
  min-height: 100%;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  margin: 0 -32px;
  padding: 0 32px;
  padding-bottom: 8px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  max-height: fit-content;
}

.indented-heading {
  display: inline-block;
  font-size: 1.5rem;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin: 8px 0;
  margin-left: -32px;
  padding: 16px 32px;
}
