* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: hsl(0deg, 0%, 60%);
}

p {
  font-size: 1.25rem;
}

header {
  padding-top: 64px;
  padding-bottom: 32px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 100%);
}

.max-width-wrapper {
  padding: 0 32px;
  max-width: 746px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .max-width-wrapper {
    max-width: 100%;
    margin: 0;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 32px;
}

.intro-chunk {
  max-width: 328px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  padding-top: 64px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  margin: 0 -32px;
  padding: 0 32px;
  padding-bottom: 8px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  max-height: fit-content;
}

.indented-heading {
  display: inline-block;
  font-size: 1.5rem;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin: 8px 0;
  padding: 16px 32px;
  margin-left: -48px;
  padding-left: 48px;
}
